.tips-video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.tips-video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.tips-description {
    margin-top: 50px;
}

.tips-content{
  border-radius: 2%;
  background-color: lightblue;
  border-color: black;
  margin-bottom: 20px;
}

.tips-side{
  border-radius: 2%;
  /* background-color: lavender; */
  margin-bottom: 20px;
}